a{
    color: black;
}
body{
    background-color:;
}
h2{
    color: rgb(255, 217, 0);
    font:
}


.p{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight:600;
    
}